{
    "printWidth": 120,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "rangeStart": 0,
    "endOfLine": "auto",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}